<html ng-app="ranking">
<head>
	<title>Ranking do Concurseiro</title>
	<link rel="stylesheet" href="libs/bootstrap-3.3.5/css/bootstrap.min.css" type="text/css" media="screen"/>

	<script src="libs/jquery-1.11.3/jquery-1.11.3.min.js"></script>
	<script src="libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
	<script src="libs/angular-1.4.7/angular.min.js"></script>
	<script src="controller.js"></script>	
</head>
<body ng-controller="RankingCtrl">
	
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#ranking" aria-controls="ranking" role="tab" data-toggle="tab">
				<span class="glyphicon glyphicon-star"></span>
				Rankings
			</a>
		</li>
		<li role="presentation">
			<a href="#agenda" aria-controls="agenda" role="tab" data-toggle="tab">
				<span class="glyphicon glyphicon-calendar"></span>
				Agenda
			</a>
		</li>
		<li role="presentation">
			<a href="#provas" aria-controls="provas" role="tab" data-toggle="tab">
				<span class="glyphicon glyphicon-edit"></span>
				Provas
			</a>
		</li>
	</ul>
	
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="ranking">
			<div class="panel panel-default" ng-repeat="ranking in rankings">
				<div class="panel-heading {{ranking.ativo | colapsecontrol}}" data-toggle="collapse" data-target="#ranking{{ranking.id}}" aria-expanded="false" aria-controls="ranking{{ranking.id}}">
					{{ranking.nome}}
				</div>
				<div class="panel-body collapse {{ranking.ativo | colapsepanel}}" id="ranking{{ranking.id}}" aria-expanded="false">
					dfad
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="agenda">
			<table class="table">
				<thead>
					<th>Semana</th>
					<th>Prova</th>					
				</thead>
				<tbody>
					<tr ng-repeat="itemAgenda in agenda">
						<td>
							{{itemAgenda.semana}}
						</td>
						<td>
							<a href="{{itemAgenda.linkProva}}" target="_new">{{itemAgenda.nomeProva}}</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div role="tabpanel" class="tab-pane" id="provas">
		</div>
	</div>
</body>
</html>